beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
exceptiongroup==1.2.1
idna==3.6
iniconfig==2.0.0
lxml==5.1.0
mutagen==1.47.0
numpy==1.26.3
packaging==24.1
pandas==2.1.4
pluggy==1.5.0
pyaes==1.6.1
pyasn1==0.6.0
pytest==8.2.2
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.5
Telethon==1.35.0
tomli==2.0.1
tzdata==2023.4
urllib3==2.1.0